



nav{
    height: 10vh;
    background: gold;
    border-bottom: 4px solid lightgreen;
    margin: -10px;
    margin-top: -20px;
    
}


.nav-Links{
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-Links li a {
    color: black;
    text-decoration: none;
    font-size: px;
}
.Landing {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Landing h1 {
    margin: 50px;
    font-size: 25px;
    color: white;
}

@media screen and (max-width: 10000px) {

    .line{
        width: 30px;
        height: 3px;
        background: lightgreen;
        margin: 5px;
    }
    nav {
        position: relative;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }
    .nav-Links {
        position: fixed;
        background: gold;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(1px at 90% -10%);
        -webkit-clip-path: circle(1px at 90% -10%);
        transition: all 1s ease-out; 
        pointer-events: all;
        
    
    }
    .nav-Links.open{
        clip-path: circle(2800px at 90% -10%);
        -webkit-clip-path: circle(2800px at 90% -10%);
    
    }
    .Landing {
        flex-direction: column;
    }
    .nav-Links li {
        opacity: 0;
    }
    .nav-Links li a{
        font-size: 25px;
    }
    .nav-Links li:nth-child(1){        
        transition: all 0.5s ease-in-out 0.2s;
    }
    .nav-Links li:nth-child(2){        
        transition: all 0.5s ease-in-out 0.4s;
    }
    .nav-Links li:nth-child(3){        
        transition: all 0.5s ease-in-out 0.6s;
    }
    li.fade {
        opacity: 1;
    }
    
}

body {
    background-color: black;
}

.goal {
    display: flex;
    color: white;
    text-align: center;
    font-style: italic;
    transition-property: all;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}


.goal:hover {
    color: gold;
    font-size: 22px;
    border: 2px solid gold;
    border-radius: 25px;
    padding: 15px;
}

h2 {
    color: white;
    text-align: center;
}

#arrow {
    transition-property: all;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

#arrow:hover {
    color: lightgreen;
    font-size: 30px;
}

h3 {
    display: flex;
    color: grey;
    text-align: center;
    font-size: larger;
    padding: 15px;
    flex-direction: column;
    align-items:center;
    margin-left: 7%;
    margin-right: 7%;
    transition-property: all;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}
#one {
    border: 1px solid white;
    border-radius: 20px;
   
}

#two {
    border: 1px solid white;
    border-radius: 20px; 
   
}

#three {
    border: 1px solid white;
    border-radius: 20px;
    
}
#one:hover {
    color: lightgreen;
    font-size: 25px;
    border: 3px solid lightgreen;
    border-radius: 20px;
   
}

#two:hover {
    color: lightgreen;
    font-size: 25px;
    border: 3px solid lightgreen;
    border-radius: 20px;
}

#three:hover {
    color: lightgreen;
    font-size: 25px;
    border: 2px solid lightgreen;
    border-radius: 20px;
    
}



